@media only screen and (max-width: 650px) {
    h1{
        font-size: 32px;
    }
    
    h2{
        font-size: 24px;
    }
    
    h3{
        font-size: 18px;
    }

    .container-home{
        height: max-content;
    }

    .main-page{
        flex-direction: column;
        width: auto;
        height: max-content;
    }

    .home-card{
        padding: 50px;
    }

    .home-image{
        padding: 10px;
    }

    .home-image img{
        height: 200px;
        object-fit: cover;
    }

    .aboutUs-card{
        height: 300px;
        padding: 20px 25px;
        width: auto;
        margin: 10px;
    }

    .aboutButton{
        width: auto;
        height: 60px;
        margin: 7px;
        border-radius: 10px;
        padding: 0 10px;
    }

    .aboutButton h1{
        font-size: 18px;
    }

    .left-pane{
        margin: auto;
    }

    .right-pane{
        margin: auto;
    }

    .flexButton{
        flex-direction: row;
    }

    .about-us{
        flex-direction: column-reverse;
        padding: 10px;
        align-items: center;
    }

    .service-card{
        flex-direction: column;
    }

    .product{
        flex-direction: column;
        width: auto;
        margin: 10px;
        height: 650px;
    }

    .product-card{
        height: 430px;
        width: 100%;
        margin: auto;
        padding: auto;
    }

    .left-container{
        margin: 30px;
        flex-basis: 20%;
    }

    .right-container{
        flex-basis: 80%;
        width: 90%;
        margin: 10px;
    }

    #trailer img{
        height: 200px;
        margin-left: 0;
    }

    #fuso img{
        height: 200px;
        margin-left: 0;
    }
    
    #cdd img{
        height: 200px;
        margin-left: 0;
    }
    
    #cdd-long img{
        height: 200px;
        margin-left: 0;
    }

    .footer{
        height: fit-content;
    }

    .footer-flex{
        height: fit-content;
        flex-direction: column;
    }
}